In [ ]:
#Write a Python program for Handling Missing Value. Replace missing value of salary, 
#age column with mean of that column.(Use Data.csv file)
import pandas as pd
file=pd.read_csv('E:/Data.csv')
file

#replace missing value with their mean
#salery
file['salery']=file[salery].fillno(file['salery'].mean())

#age
file[age]=file[age].fileno(file[age].mean)

In [ ]:
#) Write a Python program to generate a line plot of name Vs salary
import matplotlib.pyplot as mt
file.plot(x='name',y='salery')
mt.show

In [1]:
# Download the heights and weights dataset and load the dataset froma given csv file into a 
#dataframe. Print the first, last 10 rows and random 20 rows also display shape of the 
#dataset.
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv("E:/weight-height.csv")
data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [7]:
#Q.2 C) Download the heights and weights dataset and load the dataset froma given csv file into a 
#dataframe. Print the first, last 10 rows and random 20 rows also display shape of the 
#dataset.
import pandas as pd
data=pd.read_csv("E:/weight-height.csv")
data.head(10)
data.tail(10)
data.sample(20)
data.shape

(10000, 3)